.chat {
  width: 100%;
  height: 100%;
  display: flex;
}

.chatRoom {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(250, 250, 250);
}

.messages {
  display: flex;
  flex: 1;
}
